{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}">
{% endblock %}
{% block content %}



        <div class="card sample position-absolute top-50 start-50 translate-middle " style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/'+book.img) }}" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">Auteur : {{book.author.name}}</p>
              <p class="card-text">Prix : {{book.price}}</p>
              <a href="{{book.url}}"class="btn btn-primary">Acheter</a>
            </div>
        </div>



{% endblock %}

